{:paths ["elin"]
 :deps {com.github.liquidz/vim-elin {:git/sha "24e0ebd8400bfa5b907fbb9d89d9ad835b5c8572"}}

 :tasks
 {lint {:doc "Clj-kondo linting"
        :task (shell "clj-kondo --lint elin")}

  format-check {:doc "Check code formats"
                :task (shell "npx @chrisoakman/standard-clojure-style check elin")}

  format-fix {:doc "Fix code formats"
              :task (shell "npx @chrisoakman/standard-clojure-style fix elin")}

  test {:doc "Run unit tests"
        :extra-paths ["test"]
        :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
        :task (exec 'cognitect.test-runner.api/test)
        :exec-args {:dirs ["test"]}
        :org.babashka/cli {:coerce {:nses [:symbol]
                                    :vars [:symbol]}}}

  check {:doc "Check all"
         :depends [lint format-check test]}

  outdated {:doc "Check outdated dependencies"
            :task (clojure "-Sdeps '{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}' -M -m antq.core --upgrade --skip=clojure-cli")}}}
